<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />

  <MessageForwardingInCaseOfFaultConfig ErrorQueue="nservicebus_error" />

  <add key="ConnectivityRetryPeriod" value="30" />
  <add key="FatalRetryCount" value="2" />
  <add key="RetryFrequency" value="2" />
</configuration>